package pages

import (
	"github.com/Laegas/habitville/templates/components"
	"github.com/Laegas/habitville/models/types"
)

templ CreateAction() {
	@components.Form("/api/actions") {
		@components.Input(types.Text, "Name", "name")
		@components.Input(types.Number, "Cost", "cost")
	}
}
