package templates

templ BaseHtml(contents templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>HabitVille</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://unpkg.com/htmx.org@1.9.9"></script>
	</head>
	<body class="dark:bg-gray-950 dark:text-white">
		@contents
	</body>
	</html>
}
