package components

import "github.com/Laegas/habitville/models/types"

templ Form(endpoint string) {
  <form hx-post={ endpoint }>
    <div class="grid gap-6 mb-6">
      { children... }
    </div>
    @Button(types.Submit, "Submit")
  </form>
}
